 @media (min-width: 700px) {

    .hero {
        position: relative;
    }

    .data,
    .weather {
        position: absolute;
        background: var(--white);
        width: 280px;
        padding: 0 0 1rem 0;
        box-shadow: 0 0 15px var(--shadow);
    }

    .data {
        top: 20px;
        left: 20px;
    }

    .weather {
        bottom: 20px;
        right: 20px;
    }

    .data h2,
    .weather h2 {
        background: var(--accent);
        color: var(--white);
        text-align: left;
        padding: 0.5rem 1rem;
        margin: 0 0 1rem 0;
    }

    .data dl,
    .weather dl {
        text-align: right;
        padding: 0 1rem;
        font-size: 0.9rem;
    }

    .data dd,
    .weather dd {
        margin-left: 4px;
    }

    .weather h2::after {
        content: " ⛅";
        float: right;
    }

    .weather img {
        display: none;
    }
}  